* {
  margin: 0;
  padding: 0;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: red;

  h1 {
    color: yellow;
  }

  div {
    display: flex;
  }
}

.mainContainer {
  min-height: 100vh;
  background-size: contain;
  background-image: url("https://i.pinimg.com/originals/56/15/1f/56151fe8a150e1e84a30101f9baee6eb.jpg");
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.footerContainer {
  color: white;
  font-size: 33px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  padding: 40px;
  background-color: #0476f2;
}

// Media querys

@media (max-width: 804px) {
  .headerContainer {
    flex-direction: column;
    align-items: center;
    div {
      align-items: center;
      flex-direction: column;
      input {
        width: 150px;
        margin: 10px 0;
      }
      button {
        width: 260px;
        margin: 10px 0;
      }
    }
  }
}
