.buttonContainer {
  button {
    height: 29px;
    margin: 0 10px;
    border-radius: 6px;
    padding: 0 30px;
    background: yellow;
    font-size: 21px;
    font-weight: 700;
    color: black;
  }
}
